.section {
  margin-bottom: 30px;
  min-height: 200px;
  &:nth-child(odd) {
    padding: 40px 0 20px;
    background-color: #f7f7f7;
  }
  .container {
    position: relative;
    width: 950px;
    margin: 0 auto;
    .left-side {
      float: left;
      margin-right: 20px;
      width: 100px;
    }
    .right-side {
      float: right;
      margin-left: 30px;
      width: 265px;
    }
    .main {
      overflow: hidden;
    }
  }
}


.container .section-title {
  width: 100px;
}
.container .section-title h2 a {
  font-size: 24px;
}